.header {

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--1 {
      padding: 3rem 5rem;
    }
    &--2 {
      padding: 0 5rem;
      padding-bottom: 3rem;
    }
  }

  &__logo {

    &-img {
      height: 5rem;
    }
  }

  &__search {
    display: flex;
    gap: 2rem;
    position: relative;

    &-input {
      width: 30rem;
      padding: .7rem;

      &:focus {
        outline: none;
      }

      &::placeholder {

      }
    }
  }

  &__cart-icon {
    height: 3rem;
    width: 3rem;
    transition: all .2s;

    &-link {
      text-decoration: none;
      color: black;
    }

    &:hover {
      stroke: red;
      cursor: pointer;
    }

    &-label {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      width: 2rem;
      position: absolute;
      top: -10%;
      right: -2%;
      background-color: red;
      padding: 1rem;
      border-radius: 50%;
      font-size: 1.2rem;
      font-weight: 500;
      color: #ededed;
      transition: all .2s;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__nav {

    &-list {
      list-style: none;
      display: flex;
      gap: 3rem;
      font-size: 1.8rem;
      font-weight: 400;

      &-item {
      }

      &-item-link:link,
      &-item-link:visited {
        text-decoration: none;
        color: black;
        transition: all .3s;

        &:hover {
          color: red;
        }
      }
    }
  }

  &__login {
    span {
      text-transform: uppercase;
      font-size: 1.6rem;
      display: block;
      margin-right: 5rem;
      font-weight: 400;

    }
    &-link:link,
    &-link:visited {
      text-decoration: none;
      color: black;
      transition: all .3s;

      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
}

.active-link {
  color: red;
}