.footer {
  padding-top: 10rem;
  background-color: #ededed;
  display: grid;
  grid-template-columns: 10vw repeat(auto-fit, minmax(20rem, 1fr)) 10vw;
  grid-template-rows: 1fr 10rem;
  justify-items: center;
  
  @media only screen and (max-width: 81.25em) {
    grid-template-columns: 5vw repeat(5, minmax(15rem, 1fr)) 5vw;
  }

  @media only screen and (max-width: 68.75em) {
    grid-template-columns: repeat(5, minmax(15rem, 1fr));
    grid-column-gap: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  // 900px
  @media only screen and (max-width: 56.25em) {
    grid-template-columns: repeat(4, minmax(15rem, 1fr));
  }

  &__help-box {
    grid-column: 2 / 3;

    @media only screen and (max-width: 68.75em) {
      grid-column: 1 / 2;
    }
  }
  &__catalog-box {
    grid-column: 3 / 4;

    @media only screen and (max-width: 68.75em) {
      grid-column: 2 / 3;
    }
  }
  &__explore-box {
    grid-column: 4 / 5;

    @media only screen and (max-width: 68.75em) {
      grid-column: 3 / 4;
    }
  }
  &__social-box {
    grid-column: 5 / 6;

    @media only screen and (max-width: 68.75em) {
      grid-column: 4 / 5;
    }
  }
  &__about-box {
    grid-column: 6 / 7;

    @media only screen and (max-width: 68.75em) {
      grid-column: 5 / 6;
    }
    @media only screen and (max-width: 56.25em) {
      display: none;
    }
  }
  &__copyright {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    padding-top: 5rem;

    @media only screen and (max-width: 68.75em) {
      grid-column: 1 / -1;
      justify-self: center;
    }

    &-text {
      font-size: 1.3rem;
    }
  }

  &__nav-box-title {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__nav-box-list {
    list-style: none;

    &-item:not(:last-child) {
      margin-bottom: .5rem;
    }

    &-item {
      font-size: 1.6rem;
    }

    &-item-link:link,
    &-item-link:visited {
      text-decoration: none;
      color: #333;
      transition: all .3s;

      &:hover {
        color: black;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

}