.product-details {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10vw 1fr 1fr 10vw;

  @media only screen and (max-width: 62.5em) {
    grid-template-columns: 5vw 1fr 1fr 5vw;
  }
  @media only screen and (max-width: 50em) {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__img-box {
    grid-column: 2 / 3;
    padding: 4rem;

    @media only screen and (max-width: 62.5em) {
      padding: 3rem;
    }

    @media only screen and (max-width: 56.25em) {
      padding: 1rem;
    }

    @media only screen and (max-width: 50em) {
      padding: 3rem;
    }

    &-carousel {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding: 1rem 0;

      @media only screen and (max-width: 56.25em) {
        gap: .5rem;
        padding: .5rem 0;
      }

      & img {
        width: 32%;
        display: block;
        object-fit: cover;

      }

      &-item:hover {
        cursor: pointer;
      }
    }
  }

  &__info-box {
    grid-column: 3 / 4;
    padding: 4rem;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 62.5em) {
      padding: 3rem;
    }

    @media only screen and (max-width: 56.25em) {
      padding: 1rem;
    }

    @media only screen and (max-width: 50em) {
      padding: 3rem;
    }
  }

  &__title-heading {
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }

  &__price {
    font-size: 2.2rem;
    display: inline-block;
    margin-bottom: 4rem;
  }

  &__description-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  &__cta-cart {
    margin-top: 5rem;
    display: flex;
    gap: 1rem;

    & label {
      background-color: gray;
      height: 15px;

    }

    &-input {
      font-size: 1.6rem;
      font-family: inherit;
      width: 20%;
      text-align: center;

      &:focus {
        outline: none;
      }
    }

    &-btn {
      border: none;
      background-color: black;
      color: #ffffff;
      font-family: inherit;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 1.5rem 5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__more-info {
    grid-column: 2 / 4;
    padding: 4rem;
  }
}
